*,
*::before,
*::after {
    box-sizing: border-box;
}

.header-section {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;


}

.header-container {
    display: flex;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.menu-cl {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-items-cl {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-items.current {
    position: relative;
    color: #404bbf;
}

.header-list-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.header-list-items.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-list-items:hover,
.header-list-items:focus {
    color: #404bbf;

}

.current {
    color: #404BBF;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list {
    gap: 40px;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info:hover,
.info:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.second-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}

.second-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-first-section {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    display: block;
    margin: auto;
}

.second-class-button {
    padding-top: 48px;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 48px;

}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

h2 {
    font-weight: 700;
}

.adv-list {
    display: flex;
    gap: 24px;
}

.list-item-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.adv-list-item {
    width: calc((100% - 72px) / 4);
}

.div-icon-second {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}

.list-item-second-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;

}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.people-pics {
    display: flex;
    gap: 24px;
}

.image-third-section {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name {
    padding: 32px 0;
}

.list-item-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.social-medias {
    padding: 32px 0;

}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 16px;
    margin-top: 8px;
}

.icons-cosial-medias {
    width: 40px;
    height: 40px;

}

.instagram-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.instagram-icons-link:hover {
    background-color: #404bbf;
}

.instagram-icons-link:focus {
    background-color: #404bbf;
}

.list-item-fourth {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

.list-item-third-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.list-item-fourth-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.apps-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;

}

.apps-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.apps-item:hover .paragraph-desccription {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);

}

.paragraph-desccription {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps-img {
    position: relative;
    overflow: hidden;
}

.div-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.footer-class {
    background-color: #2E2F42;
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.nologocontainer-footer {
    margin-right: 120px;
}

.social-media-footer {
    margin-right: 80px;
}

.social-media-footer-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer-socialmedia-list {
    display: flex;
    gap: 16px;

}

.social-media-items-footer {
    width: 40px;
    height: 40px;

}

.social-media-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-footer:hover {
    background-color: #31d0aa;

}

.social-media-link-footer:focus {
    background-color: #31d0aa;

}

.footer-media-icon {
    fill: #f4f4fd;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-web-studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footerp {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.subscribe-paragraph {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.field-form {
    display: flex;
    gap: 24px;
}

.input-class {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.buton-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-icon {
    margin-left: 16px;
    fill: #ffffff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;

}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;

}

.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;

}

.cross-window {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-mpdal-window {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;

}

.form-window {
    margin-bottom: 8px;

}

.form-window-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}

.window-class {
    position: relative;

}

.input-class {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-class-window {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-class-window:focus {
    border-color: #4D5AE5;
}

.input-class:focus {
    border-color: #4D5AE5;

}

.person {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-class .person:focus {
    fill: #4D5AE5;
}

.type-field {
    margin-bottom: 16px;

}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;

}

.textarea:focus {
    border-color: #4D5AE5;
}

.checkbox-div {
    margin-bottom: 24px;
}

.check-box-class:checked+label>span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;

}

.type-label-terms {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.span-class-type {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.link-window {
    color: #4d5ae5;
}

.button-window {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}

.input-class-window:focus+svg {
    fill: #4D5AE5;
}